---
layout: default
title: Data science | MediaFutures
description: MediaFutures data science tools
keywords: mediafutures,datasets
url: https://mediafutureseu.github.io/datascience
custom_css: list.css
custom_js: list.js
---

<div class="header squad-header">
    <div class="Grid container">
        <div id="header-text" class="Grid-cell">
            <h1 class="large-title">Data science</h1>            
            <h1 class="squad-subheading">Esadfsafsdsential data science Python packages</h1>
        </div>
    </div>
</div>

<div class="section">
    <div class="Grid dataset-container container">
        {% for item in site.data.datascience %}
        <div class="Grid-cell sizeFull dataset">
            <div>
                <h2>{{ item["name"] }}</h2>
                <h3>{{ item["provider"] }}</h3>
                <br/>
                {{ item["description"] }}
            </div>

            {% if item["project_url"] %}
            <button onclick="window.open('{{ item["project_url"] }}')" type="" class="Button">View tool</button>
            {% endif %}
            
        </div>
        {% endfor %}
    </div>
</div>